<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DOWrapper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DOWrapperTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB20616B190E883900593D58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB206186190E883A00593D58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB20619E190E8BA900593D58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB2061B1190E8DCC00593D58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
